// .row {
//     justify-content: flex-start;
// }

.col-xl-3 {
  flex: 0 0 20%;
  max-width: 25%;
}

// cutom boostrap css
.grid-products {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 10px;
  // display: grid;
  // flex-wrap: wrap;
  // justify-items: start;
  // margin-right: -155px;
  // margin-left: -155px;
  // align-items: center;
}

.latest-products {
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  &--title {
    padding-top: 3rem;
  }
  // align-items: center;
  // align-self: center;
  // align-content: center;
  // text-align: center;
}
