@import "../abstracts/mixins";
@import "../abstracts/variables";
// .row {
//     justify-content: flex-start;
// }

.col-xl-3 {
  flex: 0 0 20%;
  max-width: 25%;
}

// cutom boostrap css
.grid-products {
  display: grid;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));
  grid-gap: 10px;

  @include respond(tab-land) {
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    font-size: 1.5rem;
    grid-gap: 10px;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    font-size: 1.5rem;
    grid-gap: 10px;
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
    font-size: 1.5rem;
    grid-gap: 10px;
  }
  // display: grid;
  // flex-wrap: wrap;
  // justify-items: start;
  // margin-right: -155px;
  // margin-left: -155px;
  // align-items: center;
}

.latest-products {
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  &--title {
    padding-top: 6rem;
    text-align: center;
    color: $color-primary-dark;
  }
  // align-items: center;
  // align-self: center;
  // align-content: center;
  // text-align: center;
}

/*SLIDER */
.slide {
  position: relative;
}

.slick-prev:before {
  color: $color-primary-dark;
}

.slick-next:before {
  color: $color-primary-dark;
}

.men-intro-header-slide {
  text-transform: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(48%, -230%);
  transform: translate(48%, -230%);
  color: black;
  font-size: 1.7rem;
}

.men-header-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(30%, -50%);
  transform: translate(30%, -50%);
  color: black;
  font-size: 4rem;
}

.women-intro-header-slide {
  text-transform: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-160%, -230%);
  transform: translate(-160%, -230%);
  color: white;
  font-size: 1.7rem;
}

.women-header-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-110%, -50%);
  transform: translate(-110%, -50%);
  color: white;
  font-size: 4rem;
}

@include respond(tab-port) {

  .men-intro-header-slide {
    text-transform: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(30%, -150%);
    transform: translate(30%, -150%);
    color: black;
    font-size: 1.7rem;
  }
  
  .men-header-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(30%, 0%);
    transform: translate(30%, 0%);
    color: black;
    font-size: 3rem;
  }
  
  .women-intro-header-slide {
    text-transform: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-100%, -150%);
    transform: translate(-100%, -150%);
    color: white;
    font-size: 1.7rem;
  }
  
  .women-header-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-90%, 0%);
    transform: translate(-90%, 0%);
    color: white;
    font-size: 3rem;
  }
}

@include respond(phone) {
  .men-intro-header-slide {
    text-transform: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(30%, -150%);
    transform: translate(30%, -150%);
    color: black;
    font-size: 1.2rem;
  }
  
  .men-header-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(30%, 0%);
    transform: translate(30%, 0%);
    color: black;
    font-size: 1.5rem;
  }
  
  .women-intro-header-slide {
    text-transform: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-100%, -150%);
    transform: translate(-100%, -150%);
    color: white;
    font-size: 1.7rem;
  }
  
  .women-header-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-90%, 0%);
    transform: translate(-90%, 0%);
    color: white;
    font-size: 3rem;
  }
}


// @include respond(min-phone) {

// }