@import "../abstracts/variables";

// Back button styles
.btn-custom-blue {
  color: $color-white;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
  background-image: $color-primary;

  &:hover {
    color: $color-white;
    box-shadow: $shadow-box-button-hover;
  }

  &:active {
    color: $color-white;
    box-shadow: $shadow-box-button-active;
  }
}

//Product description styles
.product-description {
  font-size: 1.2rem;
  font-weight: 400;
}

// Product price styles
.product-price {
  font-size: 2.2rem;
  font-weight: 600;
  color: $color-primary-light;
}

// Product stock information styles
.stock-text {
  font-size: 1.2rem;
  font-weight: 400;
}

.form-control, input-number {
 text-align: center;
}

.quantity-left-minus, .quantity-right-plus, .input-number {
  margin-top: 1rem;
  border: 1px solid $color-grey-dark-4
}

// Add to cart button styles
.add-to-cart-button {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
  background-image: $color-primary;

  &:hover {
    box-shadow: $shadow-box-button-hover;
  }

  &:active {
    box-shadow: $shadow-box-button-active;
  }
}

col-lg-12 {
  flex: 0 0 100%;
  // max-width: 1140px;
  max-width: 100%;
}

.container {
  width: 100%;
}

// .row-details {
//   width: 80%;
//   align-self: center;
//   align-items: center;
//   align-content: center;
//   // text-align: center;
// }

// .nav-link {
//   font-weight: 400;
// }

// .nav-tabs .nav-link.active {
//   border: 1px solid blue;
// }

// .nav-tabs .nav-link.active {
//     border: 4px solid;
//     // border-radius: 5px;
//     border-top-left-radius: 1.5rem;
//     border-top-right-radius: 0.5rem;

//     border-top-left-radius: 1.5rem;
//     border-top-right-radius: 0.5rem;
//     &:last-child {

//     }
// }


