@charset "UTF-8";

/* Abstracts */
@import "abstracts/breakpoints";
@import "abstracts/extend";
@import "abstracts/global";
@import "abstracts/mixins";
@import "abstracts/variables";

/* Base */
@import "base/base";

/* Components */
@import "components/Breadcrumb.styles";
@import "components/CheckoutSteps.styles.scss";
@import "components/Footer.styles.scss";
@import "components/Header.styles.scss";
@import "components/Product.styles.scss";
@import "components/Rating.styles.scss";
@import "components/Spinner.styles.scss";

/* Layout */

/* Pages */
@import "pages/CartPage.styles.scss";
@import "pages/DashboardPage.styles.scss";
@import "pages/HomePage.styles.scss";
@import "pages/LoginPage.styles.scss";
@import "pages/PlaceOrderPage.styles.scss";
@import "pages/ProductPage.styles.scss";
@import "pages/ShippingPage.styles.scss";
