@mixin mq($mq-breakpoint, $mq-width: 'min-width', $mq-breakpoints: $breakpoints) {
	@if $mq-width == 'max' {
		$mq-width: 'max-width';
		$mq-breakpoints: $max-breakpoints;
	}

	// If $mq-breakpoint is a key that exists in this
	@if map-has-key($mq-breakpoints, $mq-breakpoint) {
		$mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
	}

	@media screen and (#{$mq-width}: #{$mq-breakpoint}) {
		@content;
	}
}

// Use @include mq(lg, 'max') for max-width or @include mq(lg)


//MEDIA QUERIES
/*
0-600px;              Phone
600-900px;            Tablet Portrain
900-1200px;           Tablet Landscape
1200-1800px;          is where our normal styles apply (desktop first approach)
1800px+;              Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop


ORDER: Base + typography -> general layout + grid -> page layout -> components

*/

//1em = 16px
//using em's because they work better for media queries
@mixin respond($breakpoint) {
	@if $breakpoint == min-phone {
	  //400px
	  @media only screen and (max-width: 25em) {
		@content;
	  }
	}
	@if $breakpoint == phone {
	  //600px
	  @media only screen and (max-width: 37.5em) {
		@content;
	  }
	}
	@if $breakpoint == tab-port {
	  //900px
	  @media only screen and (max-width: 56.25em) {
		@content;
	  }
	}
	@if $breakpoint == tab-land {
	  //1200px
	  @media only screen and (max-width: 75em) {
		@content;
	  }
	}
	@if $breakpoint == big-desktop {
	  //1800px
	  @media only screen and (max-width: 112.5em) {
		@content;
	  }
	}
  }
  
  