@import "../abstracts/breakpoints";

*,
*::after,
*::before {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;

  font-size: 62.5%; //1rem = 10px; 10px/16px=62.5%

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16=75%
  }
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 80vh;
}

.row {
  justify-content: center;
  border-top: 1px;
}

.center {
  text-align: center;
}

.form-control {
  font-size: 1rem;
}
